.brick-result-game__bg{
    width: 60vw;
    text-align: center;
    margin:auto;
}
.brick-result-game__container{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0px;
    box-shadow: -1px 6px 8px 0px #9f9e9e;
    background-color: white;
    position: relative;
    border: black solid 5px;
}

.brick-result-game__title{
    font-size: 1.5em;
    margin: 8px 0px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.brick-result-game__content{
    margin: 8px 0px;
    font-size:1.5em;
} 

.brick-result-game__content-timer{
    font-size: 1.5em;
}

.brick-result-game__home-button{
    font-size: 1.2em;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 8px 0px grey;
    border: black solid 3px;
    cursor: pointer;
    background-color: white;
    color: black;
}
.brick-result-game__again-button{
    font-size: 1.2em;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 8px 0px grey;
    border: black solid 3px;
    cursor: pointer;
    background-color: white;
    color: black;
}
.brick-result-game__again-button:active,
.brick-result-game__home-button:active{
    transform: scale(0.95);
}

.brick-list-result{
    width: 80%;
}

.brick-result-item{
    width: 100%;
    display: grid;
    grid-template-columns:10% 40% 30% 20%;
}

.brick-result-item p{
    font-size: 1.1rem;
    margin: 4px 0px;
    justify-self: center;
}

.brick-result-current{
    font-weight: bolder;
}