
.square {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

  }
  .play-dots-game-area{
    width: 80%;
    background-color: rgb(255, 250, 250);
    padding: 32px;
    /* height: calc(100vh - 100px);
    height: -moz-calc(100vh - 100px);
    height: -webkit-calc(100vh - 100px); */
  }
  
  .play-dots-game-area-bg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col-cus {
    width: calc(100% / 19);
    --bs-gutter-x: 0 !important;
  }
  
  .pad-cus {
    padding: 5rem;
  
  }
  
  .title-cus {
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  section.cta {
    position: relative;
    padding: 15rem 0;
    background-image: url("../../../public/assets/img/DatLaptoplogo.png");
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
  }
  
  section.cta .cta-content {
    position: relative;
    z-index: 1;
  }
  
  section.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,  black 50%, white );
    opacity: 0.9;
  }
  
  section.cta2 {
    position: relative;
    z-index: -10;
    padding: 15rem 0;
    background-color: #000;
    background-position: center;
    background-size: cover;
  }
  
  .cus-pos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-start-dotsgame{
    width: 5rem;
    height: 5rem;
    background-image:linear-gradient(to left, #fff, #000);
  }
  .btn-start-dotsgame:active{
    transform: translateY(4px);
  }
  .input-start-dotsgame{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.7rem;
    line-height: 1.5;
    background-clip: padding-box;
  }
  
  