.quiz-game-clock__container {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    font-size: 3em;
    font-weight: 600;
    position: absolute;
    top: calc(100vh / 3);
    right: calc(100vw / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #565555;
    border:#8b8b8b solid 8px;
}

/* .clock__ring{
    width: 164px;
    height: 164px;
    border-radius: 50%;
    background: linear-gradient(#42abff,#ff4f8b,#ffeb3b);
    animation: animate 1s linear infinite;
} */

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.quiz-game-clock__bg-handgame {
    position: absolute;
    z-index: 2;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-image: linear-gradient(#fd958d, #daa67b); */
}